includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 9

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            message: '#Trait Orkhanahmadov\\ModelSettings\\Concerns\\HasSettings is used zero times and is not analysed.#'
